<div class="container-fluid page">
    <div class="d-flex page__box p-3 mt-2" style="background:white;">Dashboard</div>
    <div class="page__content shadow p-3 position-relative">
        <div>
            <div class="doctor_layout">
                <div class="container">
                    <div class="heading">
                        <div style="color:black" class="d-inline h2">All Pets</div>
                        <div class="right" style="margin-right:30px">
                            <input type="text" placeholder="Search..">
                        </div>
                        <hr>
                        <tr class="col-3 col-sm-3 col-md-3 col-lg-3">
                            <div class="container">
                                <div class="row mt-5 justify-content-centre"></div>

                                <div class="row">
                                    <!-- <div *ngFor="let item of pets$|async"> -->
                                        <div>
                                        <div class="container">
                                            <div class="row mt-5 justify-content-center">
                                                <div class="card col-3 col-sm-3 col-md-3 col-lg-3" style="width:18rem">
                                                    <div class="card-top card-left">
                                                        <img class="card-img-top rounded-circle"
                                                            src="https://images.unsplash.com/photo-1568572933382-74d440642117?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=435&q=80"
                                                            alt="Card image cap" style="width:70px;height:70px">
                                                        <div class="card-right">
                                                            <h3 class="card-title">petname</h3>
                                                            <p style="color: rgb(111, 110, 110); font-size: small;">
                                                                gender 2.2 years</p>
                                                            <p style="color: rgb(111, 110, 110); font-size: small;">
                                                                Owner:jhon doe</p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </tr>