<main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
    <div class="inner-adjust">
        
      <div class="pt-3 pb-2 mb-3 border-bottom ">
        <h3 class="h2">Account Details</h3>
        <p style="margin-bottom:-20px">Manage your account here</p> 
            <!-- <button type="button" value="Edit" class="btn btn-danger" style="width:auto;height:auto;background: orange;">Edit</button> -->
            <button type="button" class="btn btn-danger d-inline" data-toggle="modal" data-target="#exampleModal" style="width:auto;height:auto;margin-left:800px;margin-top:-50px;">Edit</button>
            <div class="container" id="blur">

                <div class="content">
          
                  <h2>
          
                    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Eveniet
          
                    tempore tempora error culpa accusamus magni quaerat ab facere corrupti
          
                    amet nobis molestias porro vitae est provident, eos laudantium quis
          
                    aspernatur at sunt.
          
                  </h2>
          
                
          
                  <a href="#" onclick="toggle()">Read More</a>
          
                </div>
          
              </div>
            <div id="popup">

                <h2 class="app">
          
                 Book Appointment ?
          
                </h2>
          
                <p class="popup-appoint">
          
                  &nbsp;Do you want to book appointment ?
          
                </p>
          
                <button type="button" class="close"><a href="#" style="text-decoration:none !important;" onclick="toggle()">Cancel</a></button>
          
                <button type="button" class="submit"><a href="#" onclick="toggle()">Submit</a></button>
          
              </div>
            
            
            <!-- Button trigger modal -->
    </div>
    <!-- <div id="popup">

        <h2 class="app">
  
         Book Appointment ?
  
        </h2>
  
        <p class="popup-appoint">
  
          &nbsp;Do you want to book appointment ?
  
        </p>
  
        <button type="button" class="close"><a href="#" style="text-decoration:none !important;" onclick="toggle()">Cancel</a></button>
  
        <button type="button" class="submit"><a href="#" onclick="toggle()">Submit</a></button>
  
      </div> -->
    <!-- <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
        Launch demo modal
      </button> -->

    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              ...
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
              <button type="button" class="btn btn-primary">Save changes</button>
            </div>
          </div>
        </div>
      </div>


      <div class="row" >
        <div class="col-md-12">
          <div class="media">
            <img class="align-self-start mr-5 img-thumbnail rounded-circle" style="width:100px;height:100px" src="https://www.pinnaclecare.com/wp-content/uploads/2017/12/bigstock-African-young-doctor-portrait-28825394-500x709.jpg">
        
            <div class="media-body">
            <table >
                <tr>
                    <td>  <p style="color: rgb(111, 110, 110); font-size: medium;">Name: <b>Dr. John Doe</b></p>  </td>
                    <td>  <p style="color: rgb(111, 110, 110); font-size: medium;">Mobile:<b> +123456789</b></p>  </td>
                </tr>
                <tr>
                    <td>  <p style="color: rgb(111, 110, 110); font-size: medium;">NPI No:<b> 1234566</b></p>  </td>
                    <td>  <p style="color: rgb(111, 110, 110); font-size: medium;">Email: <b>JohnDoe@gmail.com</b></p>  </td>
                </tr>
                <tr>
                    <td>  <p style="color: rgb(111, 110, 110); font-size: medium;">Speciality: <b>Navel</b></p>  </td>
                    <td>  <p style="color: rgb(111, 110, 110); font-size: medium;">Clinic: <b>Dr. St John's clinic</b></p>  </td>
                </tr>
        </table>
    </div>
        </div>
        </div>
      </div>
    </div>
</main>

<script type="text/javascript">

    function toggle() {

      var blur = document.getElementById("blur");

      blur.classList.toggle("active");

      var popup = document.getElementById("popup");

      popup.classList.toggle("active");

    }

</script>
