
<div class="container-fluid page">
    <div class="d-flex page__box p-3 mt-2" style="background:white;">Home</div>
    <div class="page__content shadow p-3 position-relative">
      <div>
        <div class="doctor_layout">
          <div class="container">
  
            <div class="heading">
              <div class="d-inline h2 ">All Appointments</div>
              <div class="right">
                <div class="dropdown d-inline ">
                  <div  class="status">
                  <button class="btn btn-outline-info dropdown-toggle " type="button" id="dropdownMenuButton"
                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Status
                  </button>
                </div>
                </div>
                <div class="bookappointment">
                  <button type="button" class="btn btn-danger  d-inline" >+ new
                    Appointment</button>
                </div>
              </div>
              <hr>
  
              <tr class="col-4 col-sm-4 col-md-4 col-lg-4">
                <div class="container">
                  <div class="row mt-5 justify-content-centre"></div>
  
                  <div class="row">
                    <div >
                      <div class="container">
                        <!-- <div class="row mt-5" *ngFor="let item of pets$|async"> -->
                            <div class="row mt-5">
                          <div class="card-group">
                          <div class="card col-4 col-sm-4 col-md-4 col-lg-4" style="width:18rem">
                            <div class="card-top card-left">
                              <img class="card-img-top rounded-circle"
                                src="https://images.unsplash.com/photo-1568572933382-74d440642117?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=435&q=80"
                                alt="Card image cap" style="width:70px;height:70px">
                              <div class="card-right">
                                <h3 class="card-title">item.PetDetails.PetName</h3>
                                <p style="font-size:small;">item.ApointmentDateTime|date:shortDate</p>
                                <p style="color: rgb(111, 110, 110); font-size: medium;">item.Gender</p><p> item.DOB |age</p>
                                <p style="color: rgb(111, 110, 110); font-size: medium;">Owner:</p>
                                
                              </div>
                            </div>
                            <div class="card-middle">
                              <div class="middle-left">
                                <h3 class="card-title" id="appointment-time">10:30</h3>
                                <p style="font-size:medium;">item</p>
                                <!-- <p style="font-size:x-small;" class="card-title" id="appointment-date">{{item.ApointmentDateTime|date:shortDate}}</p> -->
                              </div>
                              <div class="middle-right">
                                <span class="chat">
                                  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                    class="bi bi-chat-right-fill" viewBox="0 0 16 16" style="color:#ffa07c;">
                                    <path
                                      d="M16 2a2 2 0 0 0-2-2H2a2 2 0 0 0-2 2v8a2 2 0 0 0 2 2h9.586a1 1 0 0 1 .707.293l2.853 2.853a.5.5 0 0 0 .854-.353V2zM3.5 3h9a.5.5 0 0 1 0 1h-9a.5.5 0 0 1 0-1zm0 2.5h9a.5.5 0 0 1 0 1h-9a.5.5 0 0 1 0-1zm0 2.5h5a.5.5 0 0 1 0 1h-5a.5.5 0 0 1 0-1z" />
                                  </svg></span>
                                <span class="call">
                                  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                    class="bi bi-telephone-fill" viewBox="0 0 16 16" style="color:#ffa07c;">
                                    <path fill-rule="evenodd"
                                      d="M1.885.511a1.745 1.745 0 0 1 2.61.163L6.29 2.98c.329.423.445.974.315 1.494l-.547 2.19a.678.678 0 0 0 .178.643l2.457 2.457a.678.678 0 0 0 .644.178l2.189-.547a1.745 1.745 0 0 1 1.494.315l2.306 1.794c.829.645.905 1.87.163 2.611l-1.034 1.034c-.74.74-1.846 1.065-2.877.702a18.634 18.634 0 0 1-7.01-4.42 18.634 18.634 0 0 1-4.42-7.009c-.362-1.03-.037-2.137.703-2.877L1.885.511z" />
                                  </svg>
                                </span>
                                <span class="vedio-call">
                                  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                    class="bi bi-camera-video-fill" viewBox="0 0 16 16" style="color: #ffa07c;;">
                                    <path fill-rule="evenodd"
                                      d="M0 5a2 2 0 0 1 2-2h7.5a2 2 0 0 1 1.983 1.738l3.11-1.382A1 1 0 0 1 16 4.269v7.462a1 1 0 0 1-1.406.913l-3.111-1.382A2 2 0 0 1 9.5 13H2a2 2 0 0 1-2-2V5z" />
                                  </svg>
                                </span>
                              </div>
                            </div>
                            <hr>
                            <div class="card-bottom">
                              <span class="details"><a routerLink="../newappointment">Details</a></span>
                            </div>
                          </div>
                        </div>
                        </div>
                      </div>
      
                    </div>